body.night {
	background: #00151f;
        color: #fff;
}
.toggle {
	position: absolute;
        top: 40px;
        left: 0px;
        background: #fff;
        border: 2px solid #00151f;
        width: 45px;
        height: 20px;
        cursor: pointer;
        border-radius: 20px;
        transition: 0.5s;
}
.toggle.active {
        background: #00151f;
	border: 1px solid #fff;
}
.toggle:before {
	left: 0px;
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #00151f;
        border-radius: 50%;
        transition: 0.5s;
}
.toggle.active:before {
	left: 27px;
	background: #fff;
}